{% extends "base.html" %}
{% block description %}{% endblock %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
	<div class="container-login100">
		<div class="wrap-login100 p-t-90 p-b-30">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-40">
					Wolf & Badger
				</span>

				<div>
					<a href="{{ url_for('oauth') }}" class="btn-login-with bg1 m-b-10" style="background-color:black">
						Login with GitHub
					</a>
				</div>
				
			</form>
		</div>
	</div>
{% endblock %}